<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="manualisator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <manualisator.Properties.Settings>
            <setting name="TemplateFilename_DE" serializeAs="String">
                <value>template_de.dotx</value>
            </setting>
            <setting name="TemplateFilename_EN" serializeAs="String">
                <value>template_en.dotx</value>
            </setting>
            <setting name="ManualsDirectory" serializeAs="String">
                <value>Handbuecher</value>
            </setting>
            <setting name="TemplatesDirectory" serializeAs="String">
                <value>Vorlagen</value>
            </setting>
            <setting name="FilesDirectory" serializeAs="String">
                <value>Dateien</value>
            </setting>
            <setting name="LookupDocumentFilename" serializeAs="String">
                <value>lookup.docx</value>
            </setting>
            <setting name="ManualsDatabaseFilename" serializeAs="String">
                <value>manuals.db</value>
            </setting>
            <setting name="FilenameTemplate" serializeAs="String">
                <value>Product_Description_{1}_{2}.docx</value>
            </setting>
            <setting name="UseBookmarksFromExcelSheet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BaseDirectory" serializeAs="String">
                <value>C:\Projects\2015\manualisator\_DEF_FILES</value>
            </setting>
            <setting name="UseFilenameTemplate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateDocumentSortOrderFromBookmarks" serializeAs="String">
                <value>True</value>
            </setting>
        </manualisator.Properties.Settings>
    </userSettings>
</configuration>